.card {
    width: 18rem; 
    margin: 2rem auto;
}

.card .image-container{
    padding: .5rem;
    margin-bottom: 5px;
}

.card .card-title{
    margin-bottom: 0rem;
}

.card form{
    display: inline-block;
    margin-bottom: 0rem;
}

.modal-content{
    min-width: 300px;
}

.modal-content .image-container{
    width: 100%;
    height: 40%;;
    position: relative;
    margin-bottom: 3%;
}

.modal-content .image-container img{
    min-width: 200px;
}
/*
 input {
    padding-left: 2rem;

    can not show here
    font-size: 2rem; 
    background-color:#fff;
    border:none;    
}

input:focus {
    outline: none;
} 
*/

textarea{
    /*resize: none; can not show here*/
    height: 12rem;
    border: 1px #ddd solid;
    border-radius: 5px
}