body {
    font-family: 'Noto Sans TC', sans-serif !important;
}

.padding-3-percent {
    padding-left: 3%;
    padding-right: 3%;
}

/*
 *header
 */
i {
    color: white;
}

.navbar{
    background-color: #0abbb5;
}

.navbar-brand, .nav-link{
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

/*
 *calender
 */
#week-switch {
    caption-side: top;
}

.week-switch-button {
    width: 20%;
}

.text-black {
    color: black;
}

#date-select {
    height: 36px;
}

/*
 *homepage
 */
.homepage {
    width: 100vw;
    background-image: url('../img/homepage.jpg');
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;

}