body {
    font-family: "Noto Sans TC", sans-serif !important;
}

.alert-danger p:last-child {
    margin-bottom: 0px;
}

.required {
    color: red;
}

.hint {
    max-width: 350px;
}

.color-2F91CD {
    color: #2f91cd;
}

.table-cell {
    width: 25%;
}

.pagination {
    margin-bottom: 0px;
}

/*
 *header
 */
i {
    color: white;
}

.navbar {
    background-color: #0abbb5;
}

#header .navbar-brand,
#header .nav-link {
    color: white;
}

#header .navbar-brand:hover,
#header .nav-link:hover {
    color: white;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

#header .navbar-text {
    color: #d3ffe4;
}

/*
 *calender
 */
#week-switch {
    caption-side: top;
}

.week-switch-button {
    width: 20%;
}

.text-black {
    color: black;
}

#date-select {
    height: 36px;
}

.table-cell-8 {
    width: calc(100% / 8);
}

/*
 *homepage
 */
.homepage {
    background-image: url("../img/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.yellow-title {
    color: rgba(250, 216, 89, 1);
}

.yellow-index {
    color: rgba(250, 216, 89, 1);
}

.yellow-index:hover {
    color: rgba(247, 202, 24, 1);
}

.yellow-subindex {
    color: rgba(255, 236, 139, 1);
}

.yellow-subindex:hover {
    color: rgba(247, 202, 24, 1);
}

.border-bottom-white-2px {
    border-bottom: 2px solid white;
}

.border-bottom-white-1px {
    border-bottom: 1px solid white;
}

.text-muted:hover {
    color: grey !important;
}

.mh-85 {
    max-height: 85%;
}

.scrollbar {
    scrollbar-color: grey rgba(0, 0, 0, 0.8);
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

/*
 *classroom
 */
#classroomTab .nav-link {
    color: #aaa;
}

#classroomTab .active {
    color: #000;
}

.bg-spary {
    background-color: rgba(129, 207, 224, 0.3);
}

.bg-grey {
    background-color: rgba(189, 195, 199, 0.4);
}

.bg-green {
    background-color: #b5eae8;
}

.user_explain {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #007bff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
