body {
    font-family: 'Noto Sans TC', sans-serif !important;
}

/*
 *header
 */
i {
    color: white;
}

.navbar{
    background-color: #0abbb5;
}

.navbar-brand, .nav-link{
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

/*
 *calender
 */
#week-switch {
    caption-side: top;
}

.week-switch-button {
    width: 20%;
}

.text-black {
    color: black;
}

#date-select {
    height: 36px;
}

/*
 *homepage
 */
.homepage {
    background-image: url('../img/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.yellow-title {
    color: rgba(250, 216, 89, 1);
}

.yellow-index {
    color: rgba(250, 216, 89, 1);
}

.yellow-index:hover {
    color: rgba(247, 202, 24, 1);
}

.yellow-subindex {
    color: rgba(255, 236, 139, 1);
}

.yellow-subindex:hover {
    color: rgba(247, 202, 24, 1);
}

.border-bottom-white-2px {
    border-bottom: 2px solid white;
}

.border-bottom-white-1px {
    border-bottom: 1px solid white;
}

.text-muted:hover {
    color: grey !important;
}